In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("../data/raw/dataset.csv")

df.head(20)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
5,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
6,7,23,Male,Graduate,Germany,1.5,LinkedIn,No,8.0,9,Single,0,2
7,8,20,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
8,9,18,Male,High School,Japan,4.0,TikTok,No,6.5,7,Single,1,5
9,10,21,Female,Graduate,South Korea,3.3,Instagram,No,7.0,7,In Relationship,1,4
10,11,19,Male,Undergraduate,France,4.8,Snapchat,Yes,6.2,5,Complicated,3,7
11,12,20,Female,Undergraduate,Spain,5.5,TikTok,Yes,5.8,6,In Relationship,2,8
12,13,22,Male,Graduate,Italy,2.8,LinkedIn,No,7.2,8,Single,1,4
13,14,18,Female,High School,Mexico,6.5,Instagram,Yes,5.5,5,Single,4,9
14,15,21,Male,Undergraduate,Russia,3.7,YouTube,No,6.8,7,In Relationship,2,5
15,16,20,Female,Undergraduate,China,4.2,TikTok,Yes,6.0,6,Complicated,3,7
16,17,24,Male,Graduate,Sweden,2.0,LinkedIn,No,7.8,8,Single,0,3
17,18,19,Female,High School,Norway,5.0,Instagram,Yes,5.7,5,In Relationship,3,8
18,19,21,Male,Undergraduate,Denmark,3.5,Facebook,No,6.7,7,Single,1,5
19,20,20,Female,Undergraduate,Netherlands,4.7,Snapchat,Yes,5.9,6,Complicated,3,7

## Overview

In [3]:
df.shape

(705, 13)

In [4]:
df.columns

Index(['Student_ID', 'Age', 'Gender', 'Academic_Level', 'Country',
       'Avg_Daily_Usage_Hours', 'Most_Used_Platform',
       'Affects_Academic_Performance', 'Sleep_Hours_Per_Night',
       'Mental_Health_Score', 'Relationship_Status',
       'Conflicts_Over_Social_Media', 'Addicted_Score'],
      dtype='object')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic_Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    object
 7   Affects_Academic_Performance  705 non-null    object
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    object
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB

## Missing values

In [21]:
print(df.isnull().sum())

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

## Describe DataFrame

In [9]:
df.describe()

,Student_ID,Age,Avg_Daily_Usage_Hours,Sleep_Hours_Per_Night,Mental_Health_Score,Conflicts_Over_Social_Media,Addicted_Score
count,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000,705.000000
mean,353.000000,20.659574,4.918723,6.868936,6.226950,2.849645,6.436879
std,203.660256,1.399217,1.257395,1.126848,1.105055,0.957968,1.587165
min,1.000000,18.000000,1.500000,3.800000,4.000000,0.000000,2.000000
25%,177.000000,19.000000,4.100000,6.000000,5.000000,2.000000,5.000000
50%,353.000000,21.000000,4.800000,6.900000,6.000000,3.000000,7.000000
75%,529.000000,22.000000,5.800000,7.700000,7.000000,4.000000,8.000000
max,705.000000,24.000000,8.500000,9.600000,9.000000,5.000000,9.000000

In [39]:
df.describe(include=["object", "category"])

,Gender,Academic_Level,Country,Most_Used_Platform,Affects_Academic_Performance,Relationship_Status
count,705,705,705,705,705,705
unique,2,3,110,12,2,3
top,Female,Undergraduate,India,Instagram,Yes,Single
freq,353,353,53,249,453,384

In [40]:
df.min(numeric_only=True)

Student_ID                      1.0
Age                            18.0
Avg_Daily_Usage_Hours           1.5
Sleep_Hours_Per_Night           3.8
Mental_Health_Score             4.0
Conflicts_Over_Social_Media     0.0
Addicted_Score                  2.0
dtype: float64

In [41]:
df.max(numeric_only=True)

Student_ID                     705.0
Age                             24.0
Avg_Daily_Usage_Hours            8.5
Sleep_Hours_Per_Night            9.6
Mental_Health_Score              9.0
Conflicts_Over_Social_Media      5.0
Addicted_Score                   9.0
dtype: float64

In [11]:
df["Academic_Level"].unique()

array(['Undergraduate', 'Graduate', 'High School'], dtype=object)

In [12]:
df["Country"].unique()

array(['Bangladesh', 'India', 'USA', 'UK', 'Canada', 'Australia',
       'Germany', 'Brazil', 'Japan', 'South Korea', 'France', 'Spain',
       'Italy', 'Mexico', 'Russia', 'China', 'Sweden', 'Norway',
       'Denmark', 'Netherlands', 'Belgium', 'Switzerland', 'Austria',
       'Portugal', 'Greece', 'Ireland', 'New Zealand', 'Singapore',
       'Malaysia', 'Thailand', 'Vietnam', 'Philippines', 'Indonesia',
       'Taiwan', 'Hong Kong', 'Turkey', 'Israel', 'UAE', 'Egypt',
       'Morocco', 'South Africa', 'Nigeria', 'Kenya', 'Ghana',
       'Argentina', 'Chile', 'Colombia', 'Peru', 'Venezuela', 'Ecuador',
       'Uruguay', 'Paraguay', 'Bolivia', 'Costa Rica', 'Panama',
       'Jamaica', 'Trinidad', 'Bahamas', 'Iceland', 'Finland', 'Poland',
       'Romania', 'Hungary', 'Czech Republic', 'Slovakia', 'Croatia',
       'Serbia', 'Slovenia', 'Bulgaria', 'Estonia', 'Latvia', 'Lithuania',
       'Ukraine', 'Moldova', 'Belarus', 'Kazakhstan', 'Uzbekistan',
       'Kyrgyzstan', 'Tajikistan', 'Armenia', 'Georgia', 'Azerbaijan',
       'Cyprus', 'Malta', 'Luxembourg', 'Monaco', 'Andorra', 'San Marino',
       'Vatican City', 'Liechtenstein', 'Montenegro', 'Albania',
       'North Macedonia', 'Kosovo', 'Bosnia', 'Qatar', 'Kuwait',
       'Bahrain', 'Oman', 'Jordan', 'Lebanon', 'Iraq', 'Yemen', 'Syria',
       'Afghanistan', 'Pakistan', 'Nepal', 'Bhutan', 'Sri Lanka',
       'Maldives'], dtype=object)

In [13]:
df["Most_Used_Platform"].unique()

array(['Instagram', 'Twitter', 'TikTok', 'YouTube', 'Facebook',
       'LinkedIn', 'Snapchat', 'LINE', 'KakaoTalk', 'VKontakte',
       'WhatsApp', 'WeChat'], dtype=object)

In [16]:
df["Relationship_Status"].unique()

array(['In Relationship', 'Single', 'Complicated'], dtype=object)

## Check for duplicates

In [17]:
df.duplicated().sum()

0

## Values distribution

In [30]:
df["Most_Used_Platform"].value_counts()

Instagram    249
TikTok       154
Facebook     123
WhatsApp      54
Twitter       30
LinkedIn      21
WeChat        15
Snapchat      13
LINE          12
KakaoTalk     12
VKontakte     12
YouTube       10
Name: Most_Used_Platform, dtype: int64

In [29]:
df["Country"].value_counts().head(20)

India          53
USA            40
Canada         34
Denmark        27
Ireland        27
Turkey         27
Mexico         27
Spain          27
France         27
Switzerland    27
UK             22
Japan          21
Italy          21
Russia         21
Bangladesh     20
Pakistan       19
Nepal          19
Sri Lanka      19
Maldives       19
Poland         16
Name: Country, dtype: int64

In [32]:
df["Addicted_Score"].value_counts()

7    209
8    144
5    136
4     83
6     61
9     55
3     16
2      1
Name: Addicted_Score, dtype: int64